@import '../../../utils/style/colors.scss';
.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  h1 {
    color: $xiketic;
  }


  .contentWrapper {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}