$alizarin-crimson: #EC2434;
$cinderella:#FBD6D8;
$croly: #ED737C;
$geraldine: #F88C9C;
$white: #ffffff;
$gray: #f7f7f7;
$grayer: #919191f7;
$melon: #f3b3a6ff;
$ua-red: #e01a4fff;
$charcoal: #37515fff;
$xiketic: #1f0812ff;
$titanium-yellow: #f4e409ff;