@import '../../utils/style/colors.scss';

.wrapper {
  background-color: $gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    background-color: $white;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .image {
    flex: 1 1 auto;
    background: url("../../food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
.formWrapper {
  width: auto;
  flex:  2 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wizard {
    width: 80%;
    border-bottom: 2px solid $gray;
    margin: 100px 0 30px;
    padding-bottom: 30px;
  }
}