@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body, #root, .App {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;

}

