@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body, #root, .App {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;

}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #8585854d;
	box-shadow: inset 0 0 6px #8585854d;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #a7a7a7;
}

.Toastify__toast-container {
  min-width: 400px;
}